In [13]:
import pandas as pd

In [14]:
JogjaCuaca = pd.read_csv('tweets-data/Extra_JogjaCuacaTudey.csv')
#label_panas = pd.read_csv('tweets-data/JogjaPanas2.csv')

In [15]:
JogjaCuaca

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,1858480189996749094,Mon Nov 18 11:59:40 +0000 2024,0,infokan cuaca leh aku meh bali ng makot seko j...,1858480189996749094,NaN,NaN,in,Kirim disini ðŸ‘‰,0,4,0,https://x.com/magelang_fess/status/18584801899...,1216751588032708609,magelang_fess
1,1858462628718203161,Mon Nov 18 10:49:53 +0000 2024,0,hari ini kek lemes bgt didukung cuaca jogja se...,1858462628718203161,NaN,NaN,in,NaN,0,0,0,https://x.com/whatdefra/status/185846262871820...,391820156,whatdefra
2,1858459142085865634,Mon Nov 18 10:36:02 +0000 2024,0,bjir lah ak benci bgt cuaca jogja,1858459142085865634,NaN,NaN,in,NaN,0,0,0,https://x.com/firdhahlah/status/18584591420858...,1207260907320930304,firdhahlah
3,1858458162296176734,Mon Nov 18 10:32:09 +0000 2024,1,Info cuaca Jogja dong bolo,1858458162296176734,NaN,NaN,in,Tutorial Kirim Menfess,0,0,0,https://x.com/jatengmnfs/status/18584581622961...,808914931110334464,jatengmnfs
4,1858445407975768481,Mon Nov 18 10:05:33 +0000 2024,0,@itsnsunflowers Meriang sebab cuaca berubah-ub...,1858451468925432190,NaN,itsnsunflowers,in,NaN,0,0,0,https://x.com/PijatRealJogja/status/1858451468...,1277856339226619904,PijatRealJogja
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,1847882355882775017,Sun Oct 20 06:07:40 +0000 2024,1,Jogja beberapa hari ini mulai dingin cuacanya....,1847882355882775017,NaN,NaN,in,NaN,0,0,0,https://x.com/diirandini/status/18478823558827...,383170334,diirandini
148,1847871093937492040,Sun Oct 20 05:22:55 +0000 2024,1,Cuaca jogja sedang syahdu jadi kangen bandung,1847871093937492040,NaN,NaN,in,NaN,0,0,0,https://x.com/Bar2Kang/status/1847871093937492040,1257694464920838145,Bar2Kang
149,1847862703404310860,Sun Oct 20 04:49:34 +0000 2024,1,Cuaca jogja hari ini sangat tidak bersahabat b...,1847862703404310860,NaN,NaN,in,NaN,0,0,0,https://x.com/HarapanJayaaa/status/18478627034...,1261678479180877824,HarapanJayaaa
150,1847860010199765168,Sun Oct 20 04:38:52 +0000 2024,0,Jogja 20 Oktober 2024 Cuaca mendung hujan geri...,1847860010199765168,NaN,NaN,in,NaN,0,0,0,https://x.com/EfanSteph/status/184786001019976...,271404470,EfanSteph
151,1847839211413471727,Sun Oct 20 03:16:13 +0000 2024,0,Sebaran Curah Hujan Harian di Wilayah D.I Yogy...,1847839211413471727,https://pbs.twimg.com/media/GaTX-EbXEAAyzid.jpg,NaN,in,Daerah Istimewa Yogyakarta,0,0,0,https://x.com/staklim_jogja/status/18478392114...,1749990551758475265,staklim_jogja

In [16]:
#label_panas

In [17]:
JogjaCuaca.columns

Index(['conversation_id_str', 'created_at', 'favorite_count', 'full_text',
       'id_str', 'image_url', 'in_reply_to_screen_name', 'lang', 'location',
       'quote_count', 'reply_count', 'retweet_count', 'tweet_url',
       'user_id_str', 'username'],
      dtype='object')

In [6]:
#label_panas.columns

In [7]:
full_data = pd.concat([label_dingin, label_panas], axis=0)

NameError: name 'label_dingin' is not defined

In [ ]:
full_data

NameError: name 'full_data' is not defined

In [18]:
from datapreprocessing import DataPreprocessing

In [19]:
temp = DataPreprocessing(JogjaCuaca)

In [20]:
data_cleaned = temp.clean_text(JogjaCuaca)

In [21]:
data_cleaned.columns

Index(['created_at', 'full_text'], dtype='object')

In [22]:
data_cleaned['full_text'][1]

'Joh info cuaca area jogja sore ini'

In [23]:
data_cleaned['created_at'] = pd.to_datetime(data_cleaned['created_at'], format='%a %b %d %Y', errors='coerce')
sorted_data = data_cleaned.sort_values(by='created_at', ascending=False).reset_index(drop=True)

In [24]:
sorted_data

    created_at                                          full_text
0   2024-11-18  infokan cuaca leh aku meh bali ng makot seko j...
1   2024-11-18  Jogja kota sedang hujan enaknya ngewe cok cuac...
2   2024-11-18                 Joh info cuaca area jogja sore ini
3   2024-11-18              bjir lah aku benci sangat cuaca jogja
4   2024-11-18  Meriang sebab cuaca berubah-ubah jadi pengaruh...
..         ...                                                ...
147 2024-10-20      Cuaca jogja sedang syahdu jadi kangen bandung
148 2024-10-20  Cuaca jogja hari ini sangat tidak bersahabat b...
149 2024-10-20  Jogja 2 2 Oktober 2 2 20 20 Cuaca mendung huja...
150 2024-10-20         Cuaca jogja enak banget buat mager mageran
151 2024-10-20  Sebaran Curah Hujan Harian di Wilayah di.I Yog...

[152 rows x 2 columns]

In [25]:
sorted_data.to_csv('tweets-data/sorted_Extra_JogjaCuacaTudey.csv', index = False)